.el-menu{
    border-right: 0 !important;
}

.el-divider__text{
    background: transparent;
    font-weight: 700;
}
.el-table__header{
    .el-table__cell{
        background: #f5f5f5 !important;
    }
}
